/* Img တွေကို Download ပြီးသားဖြစ်စေချင်လို့ */
.hide {
  display: none;
  pointer-events: none;
}

.landing {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 150px;
}

.landing-content h1 {
  font-weight: 500;
  font-family: "Nautilus";
}

#nickname {
  font-size: 4.5rem;
  color: var(--pink-dark);
}

#years {
  font-size: 4rem;
  color: var(--purple-light);
}

#birthday {
  color: var(--purple-light);
  font-size: 4.5rem;
  font-weight: bolder;
}

#bd-short {
  color: var(--purple-light);
  font-size: 1.5rem;
  font-weight: 600;
}

#cake {
  position: absolute;
  bottom: -10%;
  left: 3%;
  height: 450px;
}

#celebrate {
  position: absolute;
  top: 10%;
  left: 12%;
  height: 120px;
}

#gift {
  position: absolute;
  bottom: -5%;
  right: 8%;
  height: 300px;
}

#triangle {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
}

@media only screen and (max-width: 1000px) {
  #cake {
    height: 350px;
  }
  #gift {
    height: 250px;
  }
}

@media only screen and (max-width: 760px) {
  #cake {
    height: 250px;
  }
  #gift {
    height: 150px;
  }
  #celebrate {
    height: 80px;
  }
  #triangle {
    height: 150px;
  }
}

@media only screen and (max-width: 500px) {
  #nickname {
    font-size: 3rem;
  }

  #years {
    font-size: 3rem;
  }

  #birthday {
    font-size: 4rem;
  }

  #triangle {
    height: 100px;
  }

  #cake {
    height: 200px;
  }
  #gift {
    height: 100px;
  }
}
