.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found h1 {
  text-align: center;
  font-size: 10rem;
  font-weight: bolder;
  color: var(--purple-light);
  margin: 0 1rem;
}

.not-found h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.not-found p {
  text-align: center;
  font-size: 1rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.not-found .button-group {
  margin: 1rem;
}

.not-found .primary-button {
  margin: 0 2rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--purple-light);
  border-radius: 10px;
  border: 2px solid var(--purple-light);
  transition: all 0.3s;
  font-weight: bold;
}

.not-found .primary-button:hover {
  color: var(--purple-light);
  background-color: transparent;
}

.not-found .secondary-button {
  margin: 0 2rem;
  padding: 1rem 2rem;
  color: var(--purple-light);
  font-weight: bold;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--purple-light);
  transition: all 0.3s;
}

.not-found .secondary-button:hover {
  color: #fff;
  background-color: var(--purple-light);
}

@media only screen and (max-width: 500px) {
  .not-found .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .not-found h1 {
    font-size: 9rem;
  }

  .not-found h2 {
    font-size: 1.5rem;
  }

  .not-found p {
    font-size: 0.9rem;
  }
}
