@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --pink-light: #ed5fa1;
  --pink-dark: #ec2a7a;
  --purple-light: #835ae3;
  --purple-dark: #694dc1;
  --black: #5a5a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Bootstrap ကြောင့်ဖြစ်တာ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Utility Classes */

.text {
  color: var(--black);
}

.button-outline {
  font-weight: bold;
  padding: 2rem 3rem;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  transition: transform 0.4s; /* Animation */
}

.button-back {
  font-size: 1.2rem;
  font-weight: light;
  color: var(--black);
  outline: none;
  background-color: transparent;
  border: none;
  transition: transform 0.3s;
}

.button-back:hover {
  color: var(--purple-light);
}

.button-back:hover .button--icon {
  color: var(--purple-light);
}
