@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

:root {
  --pink-light: #ed5fa1;
  --pink-dark: #ec2a7a;
  --purple-light: #835ae3;
  --purple-dark: #694dc1;
  --black: #5a5a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Comfortaa";
}

a {
  text-decoration: none;
}

/* Bootstrap ကြောင့်ဖြစ်တာ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Utility Classes */

.text {
  color: var(--black);
}

.button-outline {
  font-weight: bold;
  padding: 2rem 3rem;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  transition: transform 0.4s; /* Animation */
}
